.card{
border-color: black;
}

#div1{
    background: linear-gradient(to bottom, orange, white);
height: 100vh;
}

#f1{
    font-family: 'Edu TAS Beginner', cursive;
}

#ti{
    -webkit-text-stroke: 3px black;
    font-size: 5vw;
    color: white; 
    font-weight: 400;
    padding: 10px;
    font-family: 'Edu TAS Beginner', cursive;
}
